.pop-up-shade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
    background-color: transparent;

    &.show {
        background-color: rgba($color: #000000, $alpha: .2);
    }
}

.pop-up {
    position: fixed;
    z-index: 999999999;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 5px #000;
    border-radius: 2px;

    &.hint {
        padding: 20px 30px;
        background-color: rgba($color: #000000, $alpha: .6);
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: .6);
        color: #fff;
        box-sizing: border-box;
    }

    &.open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 300px;
        max-width: 400px;
        min-height: 200px;
        max-height: 500px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: .2);
        overflow: hidden;

        .pop-up-header {
            padding-left: 14px;
            display: flex;
            height: 36px;
            line-height: 36px;
            background-color: #f2f2f2;

            .close {
                order: 1;
                width: 36px;
                text-align: center;
                cursor: pointer;
            }

            .pop-up-header-type {
                margin-right: 5px;
                font-size: 20px;

                &.error {
                    color: red;

                    &::before {
                        content: '\e602';
                    }
                }

                &.succeed {
                    color: #3cf33c;

                    &::before {
                        content: '\e603';
                    }
                }

                &.warn {
                    color: #caca00;

                    &::before {
                        content: '\e60a';
                    }
                }
            }

            .pop-up-header-title {
                flex: 1;
                font-size: 16px;
            }
        }

        .pop-up-msg {
            padding: 10px 14px;
        }

        .pop-up-buttons {
            display: flex;
            justify-content: flex-end;
            padding: 0 11px;
            margin-bottom: 14px;

            .button {
                margin: 0 3px;
                height: 26px;
                font-size: 12px;
                background-color: #fff;
                border-color: #ddd;

                &:hover {
                    opacity: .8;
                }
            }
        }
    }

    &.center {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    &.top-left {
        top: 0;
        left: 0;
    }

    &.top-right {
        top: 0;
        right: 0;
    }

    &.top-center {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &.left-center {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &.bottom-left {
        bottom: 0;
        left: 0;
    }

    &.bottom-right {
        bottom: 0;
        right: 0;
    }

    &.bottom-center {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &.right-center {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}