.app-shade {
    .verify-password {
        .text {
            margin: 0 0 6px 0;
            color: #333;
            font-size: 16px;
        }

        .form {

            input,
            button {
                height: 40px;
                border-color: #999;
            }

            input {
                width: 300px;
            }

            button {
                padding: 0 20px;
                font-size: 16px;
            }
        }

        .hint {
            display: block;
            margin: 0;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: red;
        }
    }
}