.pop-up.verify-password {
    .pop-up-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .password-input {
            width: 100%;
            max-width: 200px;
            text-align: center;
        }

        .hint {
            display: block;
            margin: 0;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: red;
        }
    }

    .pop-up-buttons {
        justify-content: center !important;

        .button {
            height: 34px;

            &:first-child {
                background-color: #7373ff;
                border-color: #7373ff;
                color: #fff;
            }
        }
    }
}