.app-main {
    position: absolute;
    top: var(--app-header-height);
    bottom: 0;
    left: var(--app-side-width);
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    @extend .scrollbar-y;
}