input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"] {
    padding: 0 4px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: 0;
    box-sizing: border-box;

    &::placeholder {
        color: #999;
    }

    &:focus {
        border-color: var(--app-side-bg-color);
    }
}

input[type="number"] {
    width: 70px;
}

button,
input[type="submit"],
input[type="button"] {
    @extend %transition-all;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 14px;
    background-color: #eee;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: 0;
    cursor: pointer;

    &:hover {
        background-color: #ccc;
    }
}

textarea {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: 0;

    &::placeholder {
        color: #999;
    }

    &:focus {
        border-color: var(--app-side-bg-color);
    }
}

select {
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    outline: 0;
    border-color: var(--border-color);

    option {
        padding: 3px 0;
    }
}