:root {
    --scrollbar-size: 6px;
    --bg-color: #fff;
    --text-color: #555;
    --app-side-width: 56px;
    --app-side-bg-color: #2347f2;
    --app-header-height: 34px;
    --app-header-bg-color: #f9f9f9;
    --app-main-padding-x: 16px;
}